**/__pycache__
*.so
*.npz
*.out
*current_revision
**/build
**/launch_logs
**/deps
core
**tmp*
*.egg-info/
output/
.pytest_cache/
.vscode/
*.swo
*.swp
*~
*.log
*.h5
**/qchem_input.in
#*
dockerfiles/manylinux/wheelhouse
gpu4pyscf/lib/bin
gpu4pyscf/lib/build
gpu4pyscf/lib/include
gpu4pyscf/lib/lib
gpu4pyscf/lib/libxc
gpu4pyscf/gpu4pyscf/examples/launch_logs
gpu4pyscf/gpu4pyscf/lib/dftd3
gpu4pyscf/gpu4pyscf/lib/dftd4
gpu4pyscf/wheelhouse