certifi==2022.9.24
cupy-cuda117==10.6.0
cutensor==1.6.0.3
cutensor-cu11==1.6.1
cutensornet-cu11==2.0.0
Cython==0.29.32
dftd3==0.7.0
geometric==1.0
h5py==3.7.0
numpy==1.23.5
opt-einsum==3.3.0
pandas==1.5.2
pyarrow==6.0.1
pyscf==2.1.1
pyscf-qsdopt==0.1.0
pytest==7.2.0
pytest-cov==4.0.0
pytest-cover==3.0.0
pytest-coverage==0.0
python-dateutil==2.8.2
python-etcd==0.4.5
python-jose==3.2.0
python-snappy==0.6.1
