# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: nightly build

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:

    runs-on: [self-hosted, Linux, X64, v100]

    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        pip3 config set global.index-url https://pypi.tuna.tsinghua.edu.cn/simple
        python3 -m pip install --upgrade pip
        pip3 install flake8 pytest coverage pytest-cov pyscf-dispersion
        pip3 install pytest-benchmark
        pip3 install pyscf --upgrade
        pip3 install numpy --upgrade
        pip3 install scipy --upgrade
        pip3 install cupy-cuda12x --upgrade
        pip3 install gpu4pyscf-libxc-cuda12x --upgrade
        git config --global core.compression 9
    - name: Build GPU4PySCF
      run: |
        export CUDA_HOME=/usr/local/cuda
        export PATH=${CUDA_HOME}/bin:${PATH}
        export LD_LIBRARY_PATH=${CUDA_HOME}/lib64:$LD_LIBRARY_PATH
        sh build.sh
    - name: Smoke Test
      run: |
        echo $GITHUB_WORKSPACE
        export PYTHONPATH="${PYTHONPATH}:$(pwd)"
        pytest gpu4pyscf/tests/ -v -m "not slow"
