name: Docker

on: 
- workflow_dispatch

jobs:
  release-docker:
    runs-on: ubuntu-latest
    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: pyscf
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - id: docker-tag
      uses: battila7/get-version-action@v2
    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        file: dockerfiles/manylinux/Dockerfile
        push: true
        tags: pyscf/gpu4pyscf-sdk:0.1
        #cache-from: type=local,src=/tmp/.buildx-cache
        #cache-to: type=local,dest=/tmp/.buildx-cache
    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}
