# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: self hosted CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  single-gpu:
    runs-on: [self-hosted, Linux, X64, v100]
    timeout-minutes: 360
    steps:
    - uses: actions/checkout@v3

    - name: Pull CUDA Devel Image
      run: |
        docker pull pyscf/gpu4pyscf-devel:latest

    - name: Test with pytest
      run: |
        docker run --gpus all \
          --rm \
          -u "$(id -u):$(id -g)" \
          -e CUPY_CACHE_DIR=/workspace/.cupy_cache \
          -e HTTP_PROXY=$HTTP_PROXY \
          -e HTTPS_PROXY=$HTTPS_PROXY \
          -v $GITHUB_WORKSPACE:/workspace pyscf/gpu4pyscf-devel:latest \
          /bin/bash -c "cd /workspace && \
          echo '--- Force uninstalling pre-installed package ---' && \
          sudo pip3 uninstall -y gpu4pyscf-cuda12x || true && \
          echo '--- Checking setup.py content ---' && \
          cat setup.py | grep libxc && \
          echo '--- Checking build.sh content ---' && \
          cat build.sh && \
          echo '--- Running original script ---' && \
          pip3 install --no-cache-dir --target=/tmp/deps -r requirements.txt && export PYTHONPATH=/tmp/deps:$PYTHONPATH && source build.sh && pytest -m 'not slow and not benchmark' --cov=/workspace --durations=50 && rm -rf .pytest_cache"
  multi-gpu:
    runs-on: [self-hosted, Linux, X64, 2T4]
    timeout-minutes: 360
    steps:
    - uses: actions/checkout@v3

    - name: Pull CUDA Devel Image
      run: |
        docker pull pyscf/gpu4pyscf-devel:latest

    - name: Test with pytest
      run: |
        docker run --gpus all \
          --rm \
          -u "$(id -u):$(id -g)" \
          -e CUPY_CACHE_DIR=/workspace/.cupy_cache \
          -e HTTP_PROXY=$HTTP_PROXY \
          -e HTTPS_PROXY=$HTTPS_PROXY \
          -v $GITHUB_WORKSPACE:/workspace pyscf/gpu4pyscf-devel:latest \
          /bin/bash -c "cd /workspace  && \
          echo '--- Force uninstalling pre-installed package ---' && \
          sudo pip3 uninstall -y gpu4pyscf-cuda12x || true && \
          echo '--- Checking setup.py content ---' && \
          cat setup.py | grep libxc && \
          echo '--- Checking build.sh content ---' && \
          cat build.sh && \
          echo '--- Running original script ---' && \
          pip3 install --no-cache-dir --target=/tmp/deps -r requirements.txt && export PYTHONPATH=/tmp/deps:$PYTHONPATH && source build.sh && pytest -m 'not slow and not benchmark' --cov=/workspace --durations=50 && rm -rf .pytest_cache"
